<% if @support_request.errors.any? %>
<ul>
  <% @support_request.errors.full_messages.each do |error_msg| %>
    <li style = "color: red"><%= error_msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @support_request do |f| %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :email %>
<%= f.email_field :email %>
</div>
<div>
  <%= f.label :department %>
  <%= radio_button("support_request", "department", "sales") %> Sales
  <%= radio_button("support_request", "department", "marketing") %> Marketing
  <%= radio_button("support_request", "department", "technical") %> Technical
  <!-- <%# f.radio_button :department, SupportRequest::DEPT_SALES %> Sales  -->
  <!-- <%# f.radio_button :department, SupportRequest::DEPT_MARKETING %> MARKETING  -->
  <!-- <%# f.radio_button :department, SupportRequest::DEPT_TECHNICAL%> TECHNICAL  -->
</div>
<div>
  <%= f.label :message %>
  <%= f.text_area :message %>
</div>
<div>
<%= f.submit %>
</div>
<% end %>
