<!DOCTYPE html>
<html>
<head>
  <title>Supporter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <h5><%= flash[:notice] || flash[:alert] %></h5>
  </div>
<%= link_to "List All Requests", support_requests_path %> |||||
<%= link_to "Submit a New Request", new_support_request_path %>

<%= yield %>
</body>
</html>
